h1{
    color: whitesmoke;
    font-family: fangsong;
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body{
    font-family: fantasy;
    background-color: bisque;
}
