@charset "UTF-8";

body {
  background-color:rgb(12, 0, 0);
}

h1 {
  font-family:monospace;
  color: goldenrod;
  font-size: 60px;  
  text-align: center;
  font-weight: normal;
}

h2 {
  color: bisque;
  font-family: monospace;
  text-indent: 25px;  
  text-align: center;
}

h3 {
  background-color: violet;
  color: blue;
  text-align: center;
}

p {
  text-transform: uppercase;
}

#daniela {
  text-transform: lowercase;
}

#laura {
  text-transform: capitalize;
}